.Projetos h1 {
  text-align: center;
  border-top: 2px solid rgb(130, 130, 130);
  width: 500px;
  margin: 0 auto;
  padding: 1.5rem;
}

.Projetos section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Projetos section img {
  border: 4px solid #1a1a1a;
  height: 144px;
}

.Projetos div {
  background-color: #212121;
  padding: 1.25rem;
  margin-top: 1rem;
  max-width: calc(33.3333%);
}

.Projetos h2 {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.Projetos p {
  color: rgb(130, 130, 130);
}

@media (max-width: 950px) {
  .Projetos section {
    justify-content: center;
  }
  .Projetos div {
    max-width: calc(100%);
    margin: 0.5rem;
  }
}
